* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(72, 151, 156);
}
h1 {
	color: orange;
	text-align: center;
	padding: 20px;
}

.container {
	margin: auto;
	width: 750px;
	background: #fff;
	border-radius: 4px;
	height: 350px;
	padding: 20px;
}
